<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/Teamgroups/1951-1952.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/home-decades/1950s.webp">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1950's</h1>
      <h2 class="subtitle">Big Money signings and glamorous teams but ultimately no trophies.</h2>
      <p class="text">A dramatic decade when we became  known as the  'Bank of England Club' with big money signings flowing into the club on a regualr basis. Our forward line would contact the legendary Shackleton, Ford, Chilsolm and Bingham. We narrowly missed out on the league title in 1954 and lost in two FA Cup semi finals before being rocked by the illegal payments scandal that would lead to our first ever relegation.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1950s/1950-1951"><h1>1950-1951</h1></a>
    <a routerLink="/seasons/1950s/1951-1952"><h1>1951-1952</h1></a>
    <a routerLink="/seasons/1950s/1952-1953"><h1>1952-1953</h1></a>
    <a routerLink="/seasons/1950s/1953-1954"><h1>1953-1954</h1></a>
    <a routerLink="/seasons/1950s/1954-1955"><h1>1954-1955</h1></a>
    <a routerLink="/seasons/1950s/1955-1956"><h1>1955-1956</h1></a>
    <a routerLink="/seasons/1950s/1956-1957"><h1>1956-1957</h1></a>
    <a routerLink="/seasons/1950s/1957-1958"><h1>1957-1958</h1></a>
    <a routerLink="/seasons/1950s/1958-1959"><h1>1958-1959</h1></a>
    <a routerLink="/seasons/1950s/1959-1960"><h1>1959-1960</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1950s/1950-1951"><a>1950-1951</a><span>12th in League; FA Cup quartar-final.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1951-1952"><a>1951-1952</a><span>12th in League.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1952-1953"><a>1952-1953</a><span>9th in League.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1953-1954"><a>1953-1954</a><span>20th in League; Smash world transfer record.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1954-1955"><a>1954-1955</a><span>4th in League; FA Cup semi-final.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1955-1956"><a>1955-1956</a><span>9th in League; FA Cup semi-final.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1956-1957"><a>1956-1957</a><span>20th in League; Fa and League investigation.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1957-1958"><a>1957-1958</a><span>21st in League; Relegated for the first time ever.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1958-1959"><a>1958-1959</a><span>15th in Second Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1950s/1959-1960"><a>1959-1960</a><span>16th in Second Division.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1950's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <a class="player keeper" routerLink="/players/JohnnyMapson"><img src="../../../assets/playerprofiles/593.webp" alt="Johnny Mapson profile"></a>
      <a class="player defence top" routerLink="/players/BillyElliot"><img src="../../../assets/playerprofiles/305.webp" alt="Billy Elliot profile"></a>
      <a class="player defence middle-top" routerLink="/players/GeorgeAikten"><img src="../../../assets/playerprofiles/49.webp" alt="George Aikten profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/StanAnderson"><img src="../../../assets/playerprofiles/58.webp" alt="Stan Anderson profile"></a>
      <a class="player defence bottom" routerLink="/players/JackSterling"><img src="../../../assets/playerprofiles/776.webp" alt="Jack Sterling profile"></a>
      <a class="player midfield top" routerLink="/players/RayDaniel"><img src="../../../assets/playerprofiles/274.webp" alt="Ray Daniel profile"></a>
      <a class="player midfield middle-top" routerLink="/players/LenShackleton"><img src="../../../assets/playerprofiles/749.webp" alt="Len Shackleton profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/TommyWright"><img src="../../../assets/playerprofiles/884.webp" alt="Tommy Wright profile"></a>
      <a class="player midfield bottom" routerLink="/players/CharlieFleming"><img src="../../../assets/playerprofiles/323.webp" alt="Charlie Fleming profile"></a>
      <a class="player forward middle-top" routerLink="/players/DickieDavis"><img src="../../../assets/playerprofiles/166.webp" alt="Dickie Davis profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/BillyBingham"><img src="../../../assets/playerprofiles/277.webp" alt="Billy Bingham profile"></a>
    </div>
  </article>
</div>