<header class="header" [ngClass]="{hamburgerActive: hamburgerActive, triangleActive: triangleActive }">
  <a class="logo" routerLink="/" routerLinkActive="active">
      <strong></strong>.TV<sup class="v2">v2</sup>
  </a>
  <nav>
    <button class="hamburger" title="Open Navigation" aria-label="Open Navigation" (click)="toggleHamburger()" [ngClass]='hamburgerActive ? "active" : ""'>
      <span class="hamburger-box">
          <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="links">
      <a routerLink="/home" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Home</a>
      <a routerLink="/seasons" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Seasons</a>
      <a routerLink="/players" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Players</a>
      <a routerLink="/top10s" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Top 10s</a>
      <a routerLink="/about" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">About</a>
    </div>
  </nav>
  <div class="triangle" [ngClass]='triangleActive ? "active" : ""'></div>
</header>