@import '../../../css/colours';

.loader{
    margin: 0 auto; //center loader || TODO maybe put in universal styling? seems to appear a lot
}

.accent{ // again maybe universal? appears often
    color: $colour_red
}

.card{
    width: 100% !important;
    .title{
        margin-bottom: 15px
    }
    .text-wrapper{
        width: calc(100% - 174px);
        float: right
    }
    .text{
        margin-top: 15px;
        text-align: left
    }
}

//no players found error
.noPlayers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}