@import "../../../css/colours",
        "../../../css//variables";

.loader{
    margin: 0 auto; //center loader || TODO maybe put in universal styling? seems to appear a lot
}

.accent{ // again maybe universal? appears often
    color: $colour_red
}

.card{
    width: 100% !important;
    .title{
        margin-bottom: 15px
    }
    .text-wrapper{
        width: calc(100% - 174px);
        float: right;
        @media only screen and (max-width: $media_largephone){
            width: calc(100% - 20px);
            margin: 0 10px 10px 10px;
            float: none;
        }
    }
    .text{
        margin-top: 15px;
        text-align: left
    }
}

//no players found error
.noPlayers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


@media only screen and (max-width: $media_largephone){
    .image.left {
        float: none;
    }
}