<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/Teamgroups/1971-1972.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/home-decades/1970s.webp">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1970's</h1>
      <h2 class="subtitle">FA Cup triumph and a team of heros  amongst a decade spent mainly outside the top flight.</h2>
      <p class="text">The dramatic FAC Cup in 1973 is one of the highlight of our history and was followed by European football.  Great Players like Kerr, Rowell, Robson and Watson graced Roker Park but this was ultimately a decade of 2nd division football.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1970s/1970-1971"><h1>1970-1971</h1></a>
    <a routerLink="/seasons/1970s/1971-1972"><h1>1971-1972</h1></a>
    <a routerLink="/seasons/1970s/1972-1973"><h1>1972-1973</h1></a>
    <a routerLink="/seasons/1970s/1973-1974"><h1>1973-1974</h1></a>
    <a routerLink="/seasons/1970s/1974-1975"><h1>1974-1975</h1></a>
    <a routerLink="/seasons/1970s/1975-1976"><h1>1975-1976</h1></a>
    <a routerLink="/seasons/1970s/1976-1977"><h1>1976-1977</h1></a>
    <a routerLink="/seasons/1970s/1977-1978"><h1>1977-1978</h1></a>
    <a routerLink="/seasons/1970s/1978-1979"><h1>1978-1979</h1></a>
    <a routerLink="/seasons/1970s/1979-1980"><h1>1979-1980</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1970s/1970-1971"><a>1970-1971</a><span>13th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1971-1972"><a>1971-1972</a><span>5th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1972-1973"><a>1972-1973</a><span>FA Cup Winners! 6th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1973-1974"><a>1973-1974</a><span>6th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1974-1975"><a>1974-1975</a><span>4th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1975-1976"><a>1975-1976</a><span>Division Two Champions.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1976-1977"><a>1976-1977</a><span>20th in Division One. Relegated.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1977-1978"><a>1977-1978</a><span>6th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1978-1979"><a>1978-1979</a><span>4th in Division Two.</span></a>
    <a class="smalltitle" routerLink="/seasons/1970s/1979-1980"><a>1979-1980</a><span>Promoted - 2nd in Division Two.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1970's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <a class="player keeper" routerLink="/players/JimMontgomery"><img src="../../../assets/playerprofiles/620.webp" alt="Jim Montgomery profile"></a>
      <a class="player defence bottom" routerLink="/players/DickMalone"><img src="../../../assets/playerprofiles/591.webp" alt="Dick Malone profile"></a>
      <a class="player defence top" routerLink="/players/JoeBolton"><img src="../../../assets/playerprofiles/174.webp" alt="Joe Bolton profile"></a>
      <a class="player midfield middle-top" routerLink="/players/KevinArnott"><img src="../../../assets/playerprofiles/143.webp" alt="Kevin Arnott profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/ShaunElliot"><img src="../../../assets/playerprofiles/304.webp" alt="Shaun Elliot profile"></a>
      <a class="player defence middle-top" routerLink="/players/DaveWatson"><img src="../../../assets/playerprofiles/841.webp" alt="Dave Watson profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/BobbyKerr"><img src="../../../assets/playerprofiles/503.webp" alt="Bobby Kerr profile"></a>
      <a class="player midfield bottom" routerLink="/players/GaryRowell"><img src="../../../assets/playerprofiles/730.webp" alt="Gary Rowell profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/VicHalom"><img src="../../../assets/playerprofiles/395.webp" alt="Vic Halom profile"></a>
      <a class="player forward middle-top" routerLink="/players/BryanRobson"><img src="../../../assets/playerprofiles/720.webp" alt="Bryan Robson profile"></a>
      <a class="player midfield top" routerLink="/players/BillyHughes"><img src="../../../assets/playerprofiles/466.webp" alt="Billy Hughes profile"></a>
    </div>
  </article>
</div>
