@import '../../../css/colours';

.card{
    padding: 0;
    .image.center{
        width: calc(100% - 20px);
        height: 260px;
    }
}

.dropdownToggle{
    margin: 0 auto;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    padding: 10px 0;
    .text{
        margin-left: 5px
    }
    .btn{
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: auto;
        margin-right: 5px;
        font-size: 1.5em;
        transition: color .1s;
        i{
            transition:transform .1s;
        }
        &:focus{
            outline: none;
        }
        &:hover{
            color: $colour_red;
        }
    }
}

.seasonLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    background: $colour_white;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    transition: max-height .1s, padding .1s;
    a{
        width: 50%;
        margin: 10px 0;
        transition: color .1s;
        &:hover{
            color: $colour_red;
        }
    }
}

.card.active{
    border-radius: 5px 5px 0 0;
    transition-delay: 0s;
    .dropdownToggle .btn i{
        transform:rotate(180deg);
        color: $colour_red
    }
    .seasonLinks{
        white-space: initial;
        padding: 0 0 15px;
        box-shadow: 0 7px 8px 0 rgba(0,0,0,.445);
        max-height: 500px
    }
}