<div *ngIf="!playerData || !randomVideos" class="wrapper" style="justify-content: center;">
  <img alt="Loading ..."class="loader" src="../../../assets/loader.gif">
</div>

<div *ngIf="playerData && randomVideos" class="card long">
  <img alt="{{playerData.Name}} portrait" class="image left" src="../../../assets/playerprofiles/{{playerData.ID}}.png">
  <div class="textWrapper">
      
      <h1 class="title">{{playerData.Name}} <span class="flag-icon English"></span></h1>
      <h2 class="subtitle">{{playerData.Years}}</h2>
      <p class="text" style="text-align: left">{{playerData.Overview}}</p>
      
      <div class="wrapper">
        <p>Games: <span>{{playerData.Appearances}}</span></p>
        <p>Goals: <span>{{playerData.Goals}}</span></p>
        <a class="label" target="_blank" href="http://www.thestatcat.co.uk/Player.aspx?PlayerID={{playerData.ID}}">View All Statistics</a>
      </div>

  </div>
</div>

<h1 *ngIf="playerData && randomVideos && randomVideos != 'Player videos not found'" class="title">Recommended videos of {{playerData.Name}}</h1>
<div *ngIf="playerData && randomVideos && randomVideos != 'Player videos not found'" class="wrapper">
  <article *ngFor="let i of randomVideos" class="card video">
    <iframe title="Recommended video of {{playerData.Name}}" [src]="i.URL"></iframe>
  </article>
</div>