<div *ngIf="!playerData || !randomVideos" class="wrapper" style="justify-content: center;">
  <img class="loader" src="../../../assets/loader.gif">
</div>

<div *ngIf="playerData && randomVideos" class="card long">
  <img class="image left" src="../../../assets/playerprofiles/{{playerData.ID}}.png">
  <div class="textWrapper">
      
      <h1 class="title">{{playerData.Name}} <span class="flag-icon English"></span></h1>
      <h2 class="subtitle">{{playerData["Years "]}}</h2>
      <p class="text" style="text-align: left">Kevin was a natural goal scorer is our post war record goal scorer. His 30-goal tally in the 1999-2000 season saw him become the only Englishman ever to win the European Golden Boot. He is one of Sunderland’s greatest ever forwards.</p>
      
      <div class="wrapper">
        <p>Games: <span>{{playerData.Appearances}}</span></p>
        <p>Goals: <span>{{playerData.Goals}}</span></p>
        <a class="label" target="_blank" href="http://www.thestatcat.co.uk/Player.aspx?PlayerID={{playerData.ID}}">View All Statistics</a>
      </div>

  </div>
</div>

<h1 *ngIf="playerData && randomVideos" class="title">Recommended videos of {{playerData.Name}}</h1>

<div *ngIf="playerData && randomVideos" class="wrapper">
  <article *ngFor="let i of randomVideos" class="card video">
    <iframe [src]="i.URL"></iframe>
  </article>
</div>