<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/Teamgroups/1991-1992.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/Teamgroups/1991-1992.png">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1990's</h1>
      <h2 class="subtitle">subtitle</h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus posuere turpis, eget sagittis purus condimentum sit amet. Vivamus dictum id nibh vel porta. Nullam vitae risus eu nisi vestibulum consectetur nec suscipit massa. Phasellus placerat, nisi ut gravida sodales, nunc dolor gravida quam, a posuere dolor enim aliquet lorem. Aenean congue nisl at ligula vehicula, nec accumsan magna ultricies. Aliquam non odio ac mauris elementum blandit in sed justo.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1990s/1990-1991"><h1>1990-1991</h1></a>
    <a routerLink="/seasons/1990s/1991-1992"><h1>1991-1992</h1></a>
    <a routerLink="/seasons/1990s/1992-1993"><h1>1992-1993</h1></a>
    <a routerLink="/seasons/1990s/1993-1994"><h1>1993-1999</h1></a>
    <a routerLink="/seasons/1990s/1994-1995"><h1>1994-1995</h1></a>
    <a routerLink="/seasons/1990s/1995-1996"><h1>1995-1996</h1></a>
    <a routerLink="/seasons/1990s/1996-1997"><h1>1996-1997</h1></a>
    <a routerLink="/seasons/1990s/1997-1998"><h1>1997-1998</h1></a>
    <a routerLink="/seasons/1990s/1998-1999"><h1>1998-1999</h1></a>
    <a routerLink="/seasons/1990s/1999-1990"><h1>1999-2000</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1990s/1990-1991"><a>1990-1991</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1991-1992"><a>1991-1992</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1992-1993"><a>1992-1993</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1993-1994"><a>1993-1994</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1994-1995"><a>1994-1995</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1995-1996"><a>1995-1996</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1996-1997"><a>1996-1997</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1997-1998"><a>1997-1998</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1998-1999"><a>1998-1999</a><span>--------------------------</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1999-2000"><a>1999-2000</a><span>--------------------------</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1990's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <!--<a class="player keeper" routerLink="/players/JohnnyMapson"><img src="../../../assets/playerprofiles/593.webp" alt="Johnny Mapson profile"></a>
      <a class="player defence top" routerLink="/players/BillyElliot"><img src="../../../assets/playerprofiles/305.webp" alt="Billy Elliot profile"></a>
      <a class="player defence middle-top" routerLink="/players/GeorgeAikten"><img src="../../../assets/playerprofiles/49.webp" alt="George Aikten profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/StanAnderson"><img src="../../../assets/playerprofiles/58.webp" alt="Stan Anderson profile"></a>
      <a class="player defence bottom" routerLink="/players/JackSterling"><img src="../../../assets/playerprofiles/776.webp" alt="Jack Sterling profile"></a>
      <a class="player midfield top" routerLink="/players/RayDaniel"><img src="../../../assets/playerprofiles/274.webp" alt="Ray Daniel profile"></a>
      <a class="player midfield middle-top" routerLink="/players/LenShackleton"><img src="../../../assets/playerprofiles/749.webp" alt="Len Shackleton profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/TommyWright"><img src="../../../assets/playerprofiles/884.webp" alt="Tommy Wright profile"></a>
      <a class="player midfield bottom" routerLink="/players/CharlieFleming"><img src="../../../assets/playerprofiles/323.webp" alt="Charlie Fleming profile"></a>
      <a class="player forward middle-top" routerLink="/players/DickieDavis"><img src="../../../assets/playerprofiles/166.webp" alt="Dickie Davis profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/BillyBingham"><img src="../../../assets/playerprofiles/277.webp" alt="Billy Bingham profile"></a>-->
    </div>
  </article>
</div>