<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/Teamgroups/1991-1992.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/home-decades/1990s.webp">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1990's</h1>
      <h2 class="subtitle">A glorious run to the FA Cup final and a new dawn as the Stadium of Light opened.</h2>
      <p class="text">Malcolm Crosby led us to the FA Cup final in 1992, until mediocriy kicked in. Peter Reid would then build the finest Sunderland team since the 1950's including the legendary Quinn, Phillips, Ball, Johnston and Sorenson as the Stadium of light rocked to some fantastic football.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1990s/1990-1991"><h1>1990-1991</h1></a>
    <a routerLink="/seasons/1990s/1991-1992"><h1>1991-1992</h1></a>
    <a routerLink="/seasons/1990s/1992-1993"><h1>1992-1993</h1></a>
    <a routerLink="/seasons/1990s/1993-1994"><h1>1993-1999</h1></a>
    <a routerLink="/seasons/1990s/1994-1995"><h1>1994-1995</h1></a>
    <a routerLink="/seasons/1990s/1995-1996"><h1>1995-1996</h1></a>
    <a routerLink="/seasons/1990s/1996-1997"><h1>1996-1997</h1></a>
    <a routerLink="/seasons/1990s/1997-1998"><h1>1997-1998</h1></a>
    <a routerLink="/seasons/1990s/1998-1999"><h1>1998-1999</h1></a>
    <a routerLink="/seasons/1990s/1999-1990"><h1>1999-2000</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1990s/1990-1991"><a>1990-1991</a><span>Relegated from First Division on last day.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1991-1992"><a>1991-1992</a><span>Malcom Crosby appointed Manager. Narrowly miss relegation.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1992-1993"><a>1992-1993</a><span>Premier League starts. Terry Butcher appointed Manager.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1993-1994"><a>1993-1994</a><span>Mick Buxton appointed Manager. Mid-table finish.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1994-1995"><a>1994-1995</a><span>Peter Reid appointed Manager. Finish fifth bottom.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1995-1996"><a>1995-1996</a><span>Reid guides team to First Division Championship.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1996-1997"><a>1996-1997</a><span>Relegated from the Premiership. Last game at Roker.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1997-1998"><a>1997-1998</a><span>First game at Stadium of Light.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1998-1999"><a>1998-1999</a><span>First Division Champions. Worthington Cup semi-final.</span></a>
    <a class="smalltitle" routerLink="/seasons/1990s/1999-2000"><a>1999-2000</a><span>Begin new millennium in Premier League.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1990's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <a class="player keeper" routerLink="/players/TonyNorman"><img src="../../../assets/playerprofiles/650.webp" alt="Tony Norman profile"></a>
      <a class="player defence top" routerLink="/players/MickyGray"><img src="../../../assets/playerprofiles/7.webp" alt="Micky Gray profile"></a>
      <a class="player defence middle-top" routerLink="/players/RichardOrd"><img src="../../../assets/playerprofiles/656.webp" alt="Richard Ord profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/AndyMelville"><img src="../../../assets/playerprofiles/---.webp" alt="Andy Melville profile"></a>
      <a class="player defence bottom" routerLink="/players/JohnKay"><img src="../../../assets/playerprofiles/492.webp" alt="John Kay profile"></a>
      <a class="player midfield top" routerLink="/players/CraigRussell"><img src="../../../assets/playerprofiles/734.webp" alt="Craig Russell profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/KevinPhillips"><img src="../../../assets/playerprofiles/1.webp" alt="Kevin Phillips profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/KevinBall"><img src="../../../assets/playerprofiles/76.webp" alt="Kevin Ball profile"></a>
      <a class="player midfield bottom" routerLink="/players/AllanJohnston"><img src="../../../assets/playerprofiles/484.webp" alt="Allan Johnston profile"></a>
      <a class="player forward middle-top" routerLink="/players/NiallQuinn"><img src="../../../assets/playerprofiles/27.webp" alt="Niall Quinn profile"></a>
      <a class="player midfield middle-top" routerLink="/players/PaulBracewell"><img src="../../../assets/playerprofiles/181.webp" alt="Paul Bracewell profile"></a>
    </div>
  </article>
</div>