<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/home-decades/PreWW2.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/home-decades/PreWW2.png">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">Pre 1950's</h1>
      <h2 class="subtitle">One of the giants of English football with 6 League titles and 1 FA Cup victory.</h2>
      <p class="text">The Glory Years. We won the league title 6 times and some of the biggest names in football  Campbell, Holley, Buchan, Halliday,  Gurney and Carter wore the famours Red and White Shirts.  The 1937 FA Cup winning team were possiblt the most exciting team inour illustrious history. At the end of the 1940's Sunderland had accumulated more top flight points than any other team in England and had never been relegated.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/Pre1950s/1890s"><h1>1890's</h1></a>
    <a routerLink="/seasons/Pre1950s/1920s"><h1>1920's</h1></a>
    <a routerLink="/seasons/Pre1950s/1900s"><h1>1900's</h1></a>
    <a routerLink="/seasons/Pre1950s/1930s"><h1>1930's</h1></a>
    <a routerLink="/seasons/Pre1950s/1910s"><h1>1910's</h1></a>
    <a routerLink="/seasons/Pre1950s/1940s"><h1>1940's</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1890s"><a>1890's</a><span>The Glory Years. Champions in 1892, 1893 and 1895.</span></a>
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1900s"><a>1900's</a><span>Champions  in 1902 and Sheriff of London Shield winners in 1903.</span></a>
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1910s"><a>1910's</a><span>Champions  in 1913 and losing FA Cup in front of our biggest ever crowd.</span></a>
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1920s"><a>1920's</a><span>2nd in 1923 and third in 1925,1926 and 1927.</span></a>
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1930s"><a>1930's</a><span>Champions in  1936. Charity Shield and FA Cup winners in 1937.</span></a>
    <a class="smalltitle" routerLink="/seasons/Pre1950s/1940s"><a>1940's</a><span>3rd place finish in 1949.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the Pre 1950's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <!--TODO make these the real team-->
      <a class="player keeper" routerLink="/players/NedDoig"><img src="../../../assets/playerprofiles/290.webp" alt="Ned Doig profile"></a>
      <a class="player defence top" routerLink="/players/ErnieEngland"><img src="../../../assets/playerprofiles/310.webp" alt="ErnieEngland profile"></a>
      <a class="player defence middle-top" routerLink="/players/JamesWatson"><img src="../../../assets/playerprofiles/844.webp" alt="James Watson profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/BillyClunas"><img src="../../../assets/playerprofiles/233.webp" alt="Billy Clunas profile"></a>
      <a class="player defence bottom" routerLink="/players/BillMurray"><img src="../../../assets/playerprofiles/642.webp" alt="Bill Murray profile"></a>
      <a class="player midfield top" routerLink="/players/BobbyGurney"><img src="../../../assets/playerprofiles/383.webp" alt="Bobby Gurney profile"></a>
      <a class="player midfield middle-top" routerLink="/players/EddieBurbanks"><img src="../../../assets/playerprofiles/202.webp" alt="Eddie Burbanks profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/RaichCarter"><img src="../../../assets/playerprofiles/215.webp" alt="Raich Carter profile"></a>
      <a class="player midfield bottom" routerLink="/players/GeorgeHolley"><img src="../../../assets/playerprofiles/453.webp" alt="George Holley profile"></a>
      <a class="player forward middle-top" routerLink="/players/CharlieBuchan"><img src="../../../assets/playerprofiles/198.webp" alt="Charlie Buchan profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/DaveHalliday"><img src="../../../assets/playerprofiles/394.webp" alt="Dave Halliday profile"></a>
    </div>
  </article>
</div>