<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/Teamgroups/1981-1982.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/Teamgroups/1981-1982.png">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1980's</h1>
      <h2 class="subtitle">subtitle</h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus posuere turpis, eget sagittis purus condimentum sit amet. Vivamus dictum id nibh vel porta. Nullam vitae risus eu nisi vestibulum consectetur nec suscipit massa. Phasellus placerat, nisi ut gravida sodales, nunc dolor gravida quam, a posuere dolor enim aliquet lorem. Aenean congue nisl at ligula vehicula, nec accumsan magna ultricies. Aliquam non odio ac mauris elementum blandit in sed justo.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1980s/1980-1981"><h1>1980-1981</h1></a>
    <a routerLink="/seasons/1980s/1981-1982"><h1>1981-1982</h1></a>
    <a routerLink="/seasons/1980s/1982-1983"><h1>1982-1983</h1></a>
    <a routerLink="/seasons/1980s/193-1984"><h1>1983-1984</h1></a>
    <a routerLink="/seasons/1980s/1984-1985"><h1>1984-1985</h1></a>
    <a routerLink="/seasons/1980s/1985-1986"><h1>1985-1986</h1></a>
    <a routerLink="/seasons/1980s/1986-1987"><h1>1986-1987</h1></a>
    <a routerLink="/seasons/1980s/1987-1988"><h1>1987-1988</h1></a>
    <a routerLink="/seasons/1980s/1988-1989"><h1>1988-1989</h1></a>
    <a routerLink="/seasons/1980s/1989-1990"><h1>1989-1990</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1980s/1980-1981"><a>1980-1981</a><span>17th in First Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1981-1982"><a>1981-1982</a><span>Alan Durban becomes Manager; 19th in First Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1982-1983"><a>1982-1983</a><span>16th in First Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1983-1984"><a>1983-1984</a><span>Len Ashurst becomes Manager; 13th in First Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1984-1985"><a>1984-1985</a><span>Runners-up in League Cup; Relegated to Second Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1985-1986"><a>1985-1986</a><span>Lawrie McMenemy becomes Manager; 18th in Second Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1986-1987"><a>1986-1987</a><span>Relegated to Third Division for the first time.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1987-1988"><a>1987-1988</a><span>Denis Smith becomes Manager; Champions of Third Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1988-1989"><a>1988-1989</a><span>11th in Second Division.</span></a>
    <a class="smalltitle" routerLink="/seasons/1980s/1989-1990"><a>1989-1990</a><span>6th in Second Division. Promoted vie Play-Offs.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1980's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <a class="player keeper" routerLink="/players/ChrisTurner"><img src="../../../assets/playerprofiles/817.webp" alt="Chris Turner profile"></a>
      <a class="player defence top" routerLink="/players/NickPickering"><img src="../../../assets/playerprofiles/680.webp" alt="Nick Pickering profile"></a>
      <a class="player defence middle-top" routerLink="/players/GaryBennet"><img src="../../../assets/playerprofiles/---.webp" alt="George Aikten profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/JohnMacPhail"><img src="../../../assets/playerprofiles/---.webp" alt="Stan Anderson profile"></a>
      <a class="player defence bottom" routerLink="/players/BarryVanison"><img src="../../../assets/playerprofiles/---.webp" alt="Jack Sterling profile"></a>
      <a class="player midfield top" routerLink="/players/StanCummings"><img src="../../../assets/playerprofiles/---.webp" alt="Ray Daniel profile"></a>
      <a class="player midfield middle-top" routerLink="/players/GordonArmstrong"><img src="../../../assets/playerprofiles/141.webp" alt="Gordon Armstrong profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/PaulBracewell"><img src="../../../assets/playerprofiles/181.webp" alt="Paul Bracewell profile"></a>
      <a class="player midfield bottom" routerLink="/players/GaryOwers"><img src="../../../assets/playerprofiles/659.webp" alt="Gary Owers profile"></a>
      <a class="player forward middle-top" routerLink="/players/EricGates"><img src="../../../assets/playerprofiles/344.webp" alt="Eric Gates profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/MarcoGabbiadini"><img src="../../../assets/playerprofiles/340.webp" alt="Marco Gabbiadini profile"></a>
    </div>
  </article>
</div>