@import '../../../css/colours';

.loader{
    margin: 0 auto
}

.card.long {
    background: transparent;
    box-shadow: none;
    flex-direction: column;
    background: transparent;
}

p.email{
    width: 100%;
    display: block;
    font-size: 1.1em;
    padding: 5px;
    line-height: 1.2;
    a{
        color: $colour_red;
        text-decoration: none;
    }
}