<div *ngIf="!seasonVideos" class="wrapper">
  <img class="loader" src="../../../assets/loader.gif">
</div>

<div *ngIf="seasonVideos" class="wrapper multiLine">
  <article *ngFor="let video of seasonVideos" class="card video"><iframe [src]="video.URL"></iframe></article>
</div>

<article *ngIf="seasonVideosLength == 0" class="card long">
  <div class="textWrapper">
    <h1 class="title accent">Sorry, no videos found</h1>
    <p class="text">If youy know of any videos from this period, email us or leave a comment on YouTube.</p>
    <p class="email"><a href="mailto:hello@sunderlandafc.tv" target="_blank"><strong class="accent">hello@sunderlandafc.tv</strong></a></p>
  </div>
</article>