@import "../css/colours",
        "../css/variables";

footer{
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colour_red;
    .accent{
        color: $colour_red !important
    }
    //rounded corners background
    .wrapper{
        width: 711px;
        background: $colour_white;
        border-radius: 5px;
        margin: 10px;
        padding: 6px;
        text-align: center;
        //wrapper of external links
        p{
            width: 100%;
            display: block;
            font-size: 1.1em;
            padding: 5px;
            line-height: 1.2;
            //email, youtube and ryncmrfrd links
            a{
                color: $colour_black;
                text-decoration: none;
            }
        }
    }
}

//offline warning
.offline{
    z-index: 999;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    div.card{
        padding-top: 0;
        padding-bottom: 25px;
        width: 95%;
        @media only screen and (min-width: $media_tablet) {
            width: 50%;
        }
        @media only screen and (min-width: $media_smalllaptop) {
            width: 30%;
        }
        .btn{
            border: none;
            margin-top: 15px;
            padding: 7.5px;
            background-color: $colour_red;
            color: $colour_white;
            border-radius: 3px;
            text-align: center;
            &:hover{
                cursor: pointer;
                opacity: .8;
            }
            &:focus{
                outline: 0;
                opacity: .8;
            }
        }
    }
}

//main wrapper - wraps all content except header and footer
main{
    min-height: calc(100vh - 280px);
    width: 100%;

    @media only screen and (min-width: $media_tablet) {
        width: 90%;
    }
    @media only screen and (min-width: $media_smalllaptop) {
        width: 85%;
    }    
    @media only screen and (min-width: $media_largelaptop) {
        width: 80%;
    }
    @media only screen and (min-width: $media_desktop) {
        width: 75%;
    }
}