<div *ngIf="isOffline" class="offline">
    <div class="card">
        <h1 class="title">You are Offline</h1>
        <p class="text">Non-cached pages, images, and Youtube videos may not work.</p>
        <button class="btn" (click)="hideModal()">Continue</button>
    </div>
</div>

<div *ngIf="isLoading" class="loaderwrapper">
    <style>
        .loaderwrapper{height:100vh;width:100vw;display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;top:0;left:0;background:#eb172b}
        .loaderwrapper .img{height:200px;width:200px}
    </style>
    <picture>
        <source srcset="assets/logos/1.webp">
        <img alt="SAFC Logo" class="img" src="assets/logos/1.png">
    </picture>
    <img alt="Loading ..." class="img" src="../../../assets/loader_page.gif">
    <noscript>
        <style>noscript{font-family:-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,sans-serif;text-align:center;width:100vw;margin: 0 15px;}noscript h1{margin-bottom: 0;}</style>
        <h1>No Javascript Detected</h1>
        <p>Please enable it or access this site on another device.</p>
    </noscript>
</div>

<router-outlet *ngIf="!isLoading" name="nav"></router-outlet>

<main>
    <router-outlet *ngIf="!isLoading" ></router-outlet>
</main>

<footer>
    <div class="wrapper">
        <p><a href="https://ryncmrfrd.com" rel="noopener" target="_blank"><i class="fas fa-code"></i> Built by Ryan Comerford</a></p>
        <p><a href="mailto:hello@sunderlandafc.tv" target="_blank">If you know of any other vintage Sunderland footage contact us at <strong class="accent">hello@sunderlandafc.tv</strong></a></p>
        <p><a class="accent" href="https://www.youtube.com/channel/UCoh98rO2DkogICZKE-2fJ7g" rel="noopener" target="_blank"><i class="fab fa-youtube"></i> Subscribe on YouTube</a></p>
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channelid="UCoh98rO2DkogICZKE-2fJ7g" data-layout="default" data-count="default"></div>
    </div>
</footer>