<!--<div class="ifOffline">
    <h1></h1>
</div>-->
<router-outlet name="nav"></router-outlet>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="wrapper">
        <p><a href="https://ryncmrfrd.com" rel="noopener" target="_blank"><i class="fas fa-code"></i> Built by Ryan Comerford</a></p>
        <p><a href="mailto:hello@sunderlandafc.tv" target="_blank">If you know of any other vintage Sunderland footage contact us at <strong class="accent">hello@sunderlandafc.tv</strong></a></p>
        <p><a class="accent" href="https://www.youtube.com/channel/UCoh98rO2DkogICZKE-2fJ7g" rel="noopener" target="_blank"><i class="fab fa-youtube"></i> Subscribe on YouTube</a></p>
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channelid="UCoh98rO2DkogICZKE-2fJ7g" data-layout="default" data-count="default"></div>
    </div>
</footer>