@import "../css/colours";
@import '../css/variables';

main{
    min-height: calc(100vh - 280px);
}

footer{
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colour_red;
    .accent{
        color: $colour_red !important
    }
    .wrapper{
        width: 711px;
        background: $colour_white;
        border-radius: 5px;
        margin: 10px;
        padding: 6px;
        text-align: center;
        p{
            width: 100%;
            display: block;
            font-size: 1.1em;
            padding: 5px;
            line-height: 1.2;
            a{
                color: $colour_black;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (min-width: $media_tablet) {
    main{
        width: 90%;
    }
}

@media only screen and (min-width: $media_smalllaptop) {
    main{
        width: 85%;
    }
}

@media only screen and (min-width: $media_largelaptop) {
    main{
        width: 80%;
    }
}

@media only screen and (min-width: $media_desktop) {
    main{
        width: 75%;
    }
}