@import "../../../css/colours";

header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    user-select: none;
	background: $colour_white;
	//mobile navigation menu is open
	&.hamburgerActive nav .links {
		background-color: $colour_white;
		width: 100%;
		height: calc(100vh - 100px);
	}
	//homepage triange is shown
	&.triangleActive{
		background: $colour_red;
		.logo{
			& strong:after{
				color: $colour_white;
			}
			.v2{
				background-color:#00000050 // Only place this is used
			}
		}
		nav .links{
			background-color: $colour_red !important;
			a.active{
				color: $colour_white;
			}
		}
	}

	.logo {
		font-weight: 700;
		font-size: 2em;
        margin: 0 auto 0 10px;
        color: $colour_black;
		strong {
			&:after {
				color: $colour_red;
				content: "SAFC";
			}
		}
		.v2 {
			position: relative;
			left: 5px;
			top: -.9em;
			font-size: 50%;
			font-weight: initial;
			background-color: $colour_red;
			color: $colour_white;
			border-radius: .25em;
			padding: .25em;
		}
	}
	nav .links {
		display: flex;
		height: 0;
		overflow: hidden;
		flex-direction: column;
		justify-content: flex-start;
		position: absolute;
		top: 100px;
		left: 0;
		background: inherit;
		z-index:999; 
		a {
			color: $colour_black;
        	font-size: 20px; 
			text-align: center;
			transition: color .1s;
			margin-top: 50px;
			&.active {
				color: $colour_red;
			}
		}
	}
}
//styling the homepage triangle
.triangle{
	width: 0;
	height: 0;
	position: absolute;
	top: 100px;
	left: 0;
	transition: border-top .3s;
	border-right: 0 solid transparent;
	z-index: -1;
	&.active{
		border-left: 100vw solid transparent;
		border-top: 30vh solid $colour_red
	}
}

//styling the animated hamburger
.hamburger {
    height: 100%;
    width: 100px;
	padding: 15px;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: .15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin-left: auto;
	overflow: visible;
	&:focus{
		outline: none;
	}
	.hamburger-inner {
		top: 2px;
		&::before {
			top: 10px;
			transition-property: transform, opacity;
			transition-timing-function: ease;
			transition-duration: .15s;
		}
		&::after {
			top: 20px;
		}
	}
}
.hamburger.active {
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background-color: #000;
	}
}
.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 35px;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease;
	&::before {
		width: 35px;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: .15s;
		transition-timing-function: ease;
		content: '';
		display: block;
		top: -10px;
	}
	&::after {
		width: 35px;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: .15s;
		transition-timing-function: ease;
		content: '';
		display: block;
		bottom: -10px;
	}
}
.hamburger.active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(45deg);

	&::before {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0
	}
	&::after {
		transform: translate3d(0, -20px, 0) rotate(-90deg)
	}
}