<header class="header" [ngClass]="{hamburgerActive: hamburgerActive}">
  <a class="logo" routerLink="/" routerLinkActive="active">
      <strong></strong>.TV
  </a>
  <nav>
    <button class="hamburger" title="Open Navigation" aria-label="Open Navigation" (click)="toggleHamburger()" [ngClass]='hamburgerActive ? "active" : ""'>
      <span class="hamburger-box">
          <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="links">
      <a routerLink="home" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Home</a>
      <a routerLink="players" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Players</a>
      <a routerLink="videos" routerLinkActive="active" (click)="exitHamburgerOnLinkClick()">Videos</a>
    </div>
  </nav>
</header>