<article class="card dropdown" style="z-index: 5;">
  <div class="cardWrapper">
    <picture>
      <source type="image/webp" srcset="../../../assets/home-decades/PreWW2.webp">
      <img class="image left" style="width: auto; max-width: 300px;" alt="season profile image" src="../../../assets/home-decades/1960s.png">
    </picture>
    <div class="textWrapper">
      <h1 class="title accent" style="margin: 15px 0">1960's</h1>
      <h2 class="subtitle">subtitle</h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus posuere turpis, eget sagittis purus condimentum sit amet. Vivamus dictum id nibh vel porta. Nullam vitae risus eu nisi vestibulum consectetur nec suscipit massa. Phasellus placerat, nisi ut gravida sodales, nunc dolor gravida quam, a posuere dolor enim aliquet lorem. Aenean congue nisl at ligula vehicula, nec accumsan magna ultricies. Aliquam non odio ac mauris elementum blandit in sed justo.</p>     
    </div>
  </div>
  <div class="dropdownToggle" (click)="toggleSeasonLinks($event)">
    <p class="text">View Seasons</p>
    <button class="btn" aria-label="Open Season Links">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
  <div class="seasonLinks">
    <a routerLink="/seasons/1960s/1960-1961"><h1>1960-1961</h1></a>
    <a routerLink="/seasons/1960s/1961-1962"><h1>1961-1962</h1></a>
    <a routerLink="/seasons/1960s/1962-1963"><h1>1962-1963</h1></a>
    <a routerLink="/seasons/1960s/1963-1964"><h1>1963-1964</h1></a>
    <a routerLink="/seasons/1960s/1964-1965"><h1>1964-1965</h1></a>
    <a routerLink="/seasons/1960s/1965-1966"><h1>1965-1966</h1></a>
    <a routerLink="/seasons/1960s/1966-1967"><h1>1966-1967</h1></a>
    <a routerLink="/seasons/1960s/1967-1968"><h1>1967-1968</h1></a>
    <a routerLink="/seasons/1960s/1968-1969"><h1>1968-1969</h1></a>
    <a routerLink="/seasons/1960s/1969-1970"><h1>1969-1970</h1></a>
  </div>
</article>
<div class="wrapper">
  <article class="card seasonDetails">
    <a class="smalltitle" routerLink="/seasons/1960s/1960-1961"><a>1960-1961</a><span>6th in Division Two; FA Cup quarter finals.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1961-1962"><a>1961-1962</a><span>3rd in Division Two; One point off promotion.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1962-1963"><a>1962-1963</a><span>3rd in Division Two; Miss promotion on last day of season.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1963-1964"><a>1963-1964</a><span>2nd in Division Two; Promoted!</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1964-1965"><a>1964-1965</a><span>Hardick becomes manager; 15th in Division One.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1965-1966"><a>1965-1966</a><span>McColl becomes manager; 19th in Division One.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1966-1967"><a>1966-1967</a><span>17th in Division One.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1967-1968"><a>1967-1968</a><span>15th in Division One.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1968-1969"><a>1968-1969</a><span>Alan Brown returns as manager; 17th in Division One.</span></a>
    <a class="smalltitle" routerLink="/seasons/1960s/1969-1970"><a>1969-1970</a><span>21st in Division One: relegated again.</span></a>
  </article>
  <article class="card">
    <h1 class="title">Team of the 1960's</h1>
    <div class="pitch">
      <img src="../../../assets/footballpitch.svg" alt="Football Pitch Background">
      <a class="player keeper" routerLink="/players/JimMontgomery"><img src="../../../assets/playerprofiles/620.webp" alt="Johnny Mapson profile"></a>
      <a class="player defence top" routerLink="/players/LenAshurst"><img src="../../../assets/playerprofiles/.webp" alt="Billy Elliot profile"></a>
      <a class="player defence middle-top" routerLink="/players/ColinTodd"><img src="../../../assets/playerprofiles/.webp" alt="George Aikten profile"></a>
      <a class="player defence middle-bottom" routerLink="/players/CharlieHurley"><img src="../../../assets/playerprofiles/473.webp" alt="Stan Anderson profile"></a>
      <a class="player defence bottom" routerLink="/players/CecilIrwin"><img src="../../../assets/playerprofiles/776.webp" alt="Jack Sterling profile"></a>
      <a class="player midfield top" routerLink="/players/BillyHughes"><img src="../../../assets/playerprofiles/274.webp" alt="Ray Daniel profile"></a>
      <a class="player midfield middle-top" routerLink="/players/IanPorterfield"><img src="../../../assets/playerprofiles/749.webp" alt="Len Shackleton profile"></a>
      <a class="player midfield middle-bottom" routerLink="/players/JimBaxter"><img src="../../../assets/playerprofiles/884.webp" alt="Tommy Wright profile"></a>
      <a class="player midfield bottom" routerLink="/players/BrianCrossan"><img src="../../../assets/playerprofiles/323.webp" alt="Charlie Fleming profile"></a>
      <a class="player forward middle-top" routerLink="/players/BrianClough"><img src="../../../assets/playerprofiles/166.webp" alt="Dickie Davis profile"></a>
      <a class="player forward middle-bottom" routerLink="/players/NickySharkey"><img src="../../../assets/playerprofiles/277.webp" alt="Billy Bingham profile"></a>
    </div>
  </article>
</div>