@import "../../../css/colours",
        "../../../css/variables";

.card.dropdown{
    padding: 0;
    .cardWrapper{
        margin: 20px 0 10px 0; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        @media only screen and (min-width: $media_tablet) {
            flex-direction: row;
            .textWrapper .text{
                margin-right: 10px;
            }
        }
    }
    .image.left{
        height: 200px;
        width: 300px;
    }
    .subtitle {
        text-align: center;
        color: $colour_red;
        margin: 0 auto 15px
    }
    .textWrapper{
        width: calc(100% - 30px);
    }
}


//bottom of card - down arrow to "open" .seasonLinks
.dropdownToggle{
    margin: 0 auto;
    width: calc(100% - 20px); //for margin purposes
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    .text{ //leftmost text
        margin-left: 5px
    }
    &:hover .btn{
        color: $colour_red;
    }
    .btn{ //rightmost button
        background: transparent;
        border: none;
        padding: 0;
        margin-left: auto;
        margin-right: 5px;
        font-size: 1.5em;
        transition: color .1s;
        cursor: pointer;
        i{
            transition: transform .1s;
        }
        &:focus{
            outline: none; //probably not good for acessability || TODO add meaningful focus property
        }
    }
}

//card extention activaated/"dropped down" by the card.active selector
.seasonLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    background: $colour_white;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    transition: max-height .1s, padding .1s;
    a{
        width: 50%;
        margin: 10px 0;
        transition: color .1s;
        &:hover{
            color: $colour_red;
        }
    }
}

//if active class has been toggled by dropdowntoggle btn
.card.active{
    border-radius: 5px 5px 0 0;
    transition-delay: 0s;
    .dropdownToggle .btn i{
        transform:rotate(180deg);
        color: $colour_red
    }
    .seasonLinks{
        white-space: initial;
        padding: 0 0 15px;
        box-shadow: 0 7px 8px 0 rgba(0,0,0,.445);
        max-height: 500px
    }
}

//making the player and pitch cards full length
.wrapper{
    flex-direction: column;
    @media only screen and (min-width: $media_tablet) {
        flex-direction: row;
    }
    .card{
        width: 100%;
        @media only screen and (min-width: $media_tablet) {
            width: calc(50% - 10px);
        }
    }
}

.pitch{
    position: relative;
    margin: 0 15px;
    width: calc(100% - 30px);
    height: 325px;
    border: none;
    user-select: none;

    img{
        border-radius: 5px;
        object-position: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .player{
        position: absolute;
        top: 0;
        //left: 0;
        height: 45px;
        width: 45px;
        transition: height .1s, width .1s;
        background-color: #bbb;
        border-radius: 50%;

        &:hover{
            height: 50px;
            width: 50px;
        }

        &.top{
            top: calc(15% - (45px / 2));
        }
        &.middle-top{
            top: calc(38% - (45px / 2));
        }
        &.middle-bottom{
            top: calc(62% - (45px / 2));
        }
        &.bottom{
            top: calc(85% - (45px / 2));
        }

        &.keeper{
            top: calc(50% - (45px / 2));
            left: calc(10% - (45px / 2));
        }

        &.defence{
            left: calc(25% - (45px / 2));
        }

        &.midfield{
            left: calc(45% - (45px / 2));
        }

        &.forward{
            left: calc(65% - (45px / 2));
        }
    }
}