<article class="card long">
  <div id="fadingImages" class="image left">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
  <div class="textWrapper">
      <h1 class="title accent">Welcome!</h1>
      <p class="text">Sunderland have a long and illustrious history.Our 6 League Titles make us the 6th most successful team in English football, but our glory years were before the advent of live games or even highlights of games were available. Here, you can watch videos of Sunderland matches from the 1900’s to the 1990’s - including some of the classic games from Roker Park.You can also see some of the star players of the past in action, and some of our greatest goals and moments.Hopefully is brings back many memories and shows the great heritage of our club.</p>        
  </div>
</article>
<h1 class="title">Watch Sunderland's record post war scorers!</h1>
<div class="wrapper">
  <a class="card" routerLink="/players/KevinPhillips">
      <picture>
        <source type="image/webp" srcset="../../../assets/playerprofiles/1.webp">
        <img class="image left" alt="Kevin Phillips profile" src="../../../assets/playerprofiles/1.png">
      </picture>
      <h1 class="title">Kevin<br>Phillips</h1>
      <span class="label">235 games, 130 goals</span>
  </a>
  <a class="card" routerLink="/players/GaryRowell">
      <picture>
        <source type="image/webp" srcset="../../../assets/playerprofiles/730.webp">
        <img class="image left" alt="Gary Rowell profile" src="../../../assets/playerprofiles/730.png">
      </picture>
      <h1 class="title">Gary<br>Rowell</h1>
      <span class="label">297 games, 103 goals</span>
  </a>
  <a class="card" routerLink="/players/LenShackleton">
      <picture>
        <source type="image/webp" srcset="../../../assets/playerprofiles/749.webp">
        <img class="image left" alt="Len Shackleton profile" src="../../../assets/playerprofiles/749.png">
      </picture>
      <h1 class="title">Len<br>Shackleton</h1>
      <span class="label">348 games, 100 goals</span>
  </a>
</div>
<div class="wrapper">
  <article class="card video">
      <h1 class="title">Goal of the Month</h1>
      <iframe title="Goal of the Month" src="https://www.youtube.com/embed/lEZJLUuwh8E"></iframe>
  </article>
  <article class="card video">
      <h1 class="title">Game of the Month</h1>
      <iframe title="Game of the Month" src="https://www.youtube.com/embed/51ZCVdCMIxI"></iframe>
  </article>
</div>