<h1 class="title accent">About</h1>
<p class="text">
  Sunderland have a long and illustrious history.<br>Our 6 League Titles make us the 6th most successful team in
  English football, but our glory years were before the advent of live games or even highlights of games were
  available. Here, you can watch videos of Sunderland matches from the 1900’s to the 1990’s - including some of the
  classic games from Roker Park.You can also see some of the star players of the past in action, and some of our
  greatest goals and moments.Hopefully is brings back many memories and shows the great heritage of our club.
</p>
<img alt="SunderlandAFC Crowd Picture" src="../../../assets/about.png">
<p class="label">
  SunderlandAFC.TV does not claim ownership of any featured videos.<br>All videos featured on this website are protected under 
  <a href="https://www.youtube.com/yt/about/copyright/fair-use/#yt-copyright-four-factors">Fair Use</a>
</p>