@import "../../../css/variables", "../../../css/colours";

//about text
.text {
    margin: 15px;
    text-align: center
}
//about image
.card.video {
    height: 40vh;
    @media only screen and (min-width: $media_tablet){
        height: 50vh;
    }
    iframe{
        height: 100%;
    }
}

//fair use
.label {
    width: 550px;
    white-space: initial; 
    margin: 15px auto 30px auto;
    line-height: 1.5;
    //link to yt fairuse
    a {
        color: $colour_white;
        text-decoration: underline
    }
}