@import '../../../css/colours';

.wrapper{
    flex-direction: column;
}
.error404{
    font-size: 7em
}

.noSeason, .noDecade{
    .title{
        font-size: 27px;
    }
    a{
        color: $colour_black;
        transition: color .1s;
        &:hover{
            color: $colour_red;
        }
    }
}